* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  margin: 0;
  padding: 0%;
}
body {
  margin: 0;
  font-family: "Impact", sans-serif;
  font-size: large;
  font-display: center;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 120px;
  background-color: #090d86;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 22px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #10acf5;
  color: rgb(228, 10, 10);
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: rgb(255, 255, 255);
}

div.wrapper {
  margin-left: 00px;
  padding: 1px 16px;
  height: 90px;
}
div.wrapper1 {
  top: 800Px;
  margin-left: 200px;
  margin-right: 150px;
  padding: 1px 16px;
  height: 90px;
  font-size: 35px;
  color: rgb(8, 1, 1);
  position: absolute;
}