* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color:aqua
}
.templatewireframe{
  background-image: url("assets/teplate.png") ;
}

#enter {
  background-color: snow;
  position: absolute;
  left: 1430px;
  top: 330px;
  color: transparent;
  width: 368px;
  height: 150px;
}
#darkMode {
  background-color: snow;
  position: absolute;
  left: 1430px;
  top: 590px;
  color: transparent;
  width: 368px;
  height: 150px;

}