* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-image: url("./../assets/Monitor_Frame_copy_3.png");
  position: absolute;
  background-color: aqua;
}

.greeting{
  position: absolute;
  left: 270.685px;
  top: 259.496px;
  width: 254.381px;
  height: 151px;
  z-index: 1;
}

#enter {
  position: absolute;
  left: 1340px;
  top: 350px;
  color: transparent;
  width: 468px;
  height: 100px;
}

#darkMode {
  position: absolute;
  left: 1370px;
  top: 560px;
  color: transparent;
  width: 468px;
  height: 100px;
}

#hero {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 900%;
}