* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-image: url("./../assets/Monitor_Frame_copy_3.png");
  position: overlay;
  
}

/* #enter {
  position: absolute;
  left: 145px;
  top: 430px;
  color: transparent;
  width: 368px;
  height: 150px;
}

#darkMode {
  position: absolute;
  left: 145px;
  top: 660px;
  color: transparent;
  width:470px;
  height: 220px;
} */





