* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-image: url("./../assets/Monitor Frame copy 3.png");
  position: overlay;
  left: 509px;
  top: 257px;
  width: 898px;
  height: 465px;
  z-index: 151;

}

#enter {
  position: absolute;
  left: 145px;
  top: 430px;
  color: transparent;
  width: 368px;
  height: 150px;
}

#darkMode {
  position: absolute;
  left: 145px;
  top: 660px;
  color: transparent;
  width:470px;
  height: 220px;
}





